[core]
	editor = \"C:\\Users\\Acer\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = shubhampatil.ani@gmail.com
	emaiil = shubhampatil.ani@gmail.com
	email = shubhampatil.ani@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
