.header {
  display: flex;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  list-style-type: none;
  border-bottom: 0.1rem solid white;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  background: rgba(20, 20, 20, 0.826);
  width: 100%;
  z-index: 1;
}
.headline {
  margin: 0;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  padding: 30px 50px 90px;
  background: #777;
  color: white;
}
